<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Let's Explore Symfony 4 {% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{{ asset('css/indexStyle.css')}}">
    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ asset('fonts/material-icon/css/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ asset('css/style.css')}}">
    {% block stylesheet %} {% endblock %}
</head>

<body>
    <header>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="container">
    
                    <a class="navbar-brand" href="{{ path('home') }}">Sample Teste</a>
    
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('users')}}">Users Page</a>
                            </li>
        
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('user-create')}}">Create Users</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

                <!-- JS -->
    <script src="{{ asset('jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('js/main.js')}}"></script>
    <main role="main" class="container main">
        {% block body %} {% endblock %}
    </main>
{% block javascripr %} 
{% endblock %}
</body>
</html>